html, body {
  height: 100%;
  margin: 0;
}

body{
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
background: linear-gradient(180deg,#DCE9E2,#F1EDE4);
margin:0;
}

.container{
max-width:500px;
margin:120px auto;
text-align:center;
padding:20px;
}

.profile{
width:300px;
  max-width: 300px;
height:auto;
  display: block;
border-radius:50%;
object-fit:cover;  margin: 0 auto;  
}

h1{
margin:10px 0;
font-size:32px;
}

.bio{
color:#666;
margin-bottom:30px;
}

.links a{
display:inline-block;
margin:10px;
padding:10px 18px;
background:#222;
color:white;
text-decoration:none;
border-radius:6px;
}

.links a:hover{
background:#555;
}

.back{
display:inline-block;
margin-top:30px;
text-decoration:none;
color:#333;
}
